body {
    align-content: center;
}

.teampage {
    margin-top: 12px;
    background-color: mediumturquoise;
}
.TeamCard {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.TeamCard:hover,
.TeamCard:active {
    background-color:  #a3a375;
}

ul{
    list-style-type: none;
    padding: none
}

li{
    padding: none;
}